.iconf{
    width: 27px; 
    height: 27px;
    vertical-align: -0.15em;
    fill: #ffffff;
    overflow: hidden;
}
.menu-iconf{
	width: 27px; 
    height: 27px;
    line-height: 48px;
    vertical-align: -0.35em;
    fill: #bfcbd9;
    overflow: hidden;
}
